export TF_VAR_image_path=PATH/TO/YOUR/flatcar_production_stackit_image.img
export TF_VAR_private_key_path=PATH/TO/YOUR/sa-key-XXXXXXXXXXXXXXXX-private.pem
export TF_VAR_project_id=YOUR_STACKIT_PROJECT_ID
export TF_VAR_public_key=PATH/TO/YOUR/id_rsa.pub
export TF_VAR_service_account_key_path=PATH/TO/YOUR/sa-key-XXXXXXXXXXXXXXXX.json
