variant: flatcar
version: 1.0.0

storage:
  files:
    - path: /opt/bin/test-service.sh
      mode: 0755
      contents:
        inline: |
          #!/bin/bash
          set -euo pipefail
          if test ! -e /etc/config-side-effect; then
            echo "my-setting v1" > /etc/config-side-effect
          fi
          mkdir -p /mydata
          if test ! -e /mydata/data; then
            echo "$RANDOM" > /mydata/data
          fi
systemd:
  units:
    - name: test.service
      enabled: true
      contents: |
        [Unit]
        Description=Test service with side-effect
        [Service]
        Type=oneshot
        RemainAfterExit=true
        Restart=on-failure
        ExecStart=/opt/bin/test-service.sh
        [Install]
        WantedBy=multi-user.target
passwd:
  users:
    - name: core
      ssh_authorized_keys: ${ssh_keys}
